#####PLEASE DO NOT REMOVE FOLLOWING FOUR LINES#######
RewriteEngine On
RewriteCond %{HTTP_HOST} ^lighthouse\.nbcudps\.com
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://lighthouse.nbcuots.com/$1 [R=301,L]
#####PLEASE DO NOT REMOVE ABOVE FOUR LINES#######
# Send all traffic to nbcudps.com
RewriteCond %{HTTP_HOST} ^lighthouse.nbcuxd.com [NC] 
RewriteRule ^(.*)$ http://lighthouse.nbcudps.com/$1 [L,R=301]

Options +FollowSymlinks
#RewriteRule ^files/(.*)$ ../_ajaxphp/download.php?path=files/$1 [R=301,L]
#RewriteRule ^qafiles/(.*)$ ../_ajaxphp/download.php?path=qafiles/$1 [R=301,L]

RewriteBase /
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
#Use if wildcard is not warrented
#RewriteRule !\.(js|ico|txt|gif|jpg|png|css)$ index.php
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ /index.php [NC,L]
# deny *INC Files*
<FilesMatch "\.inc($|\.)">
  Order Allow,Deny
  Deny from all
</FilesMatch>
php_value upload_max_filesize 15M
php_value post_max_size 10M


