.project_results_container dl dt ul li.completeness { display:none;}
.project_results_container dl dt ul li.actual { display:none;}
.project_results_container dl dt ul li.status { display:none;}
.project_results_container dl dt ul li.approval { display:none;}

ul.archived_projects li.actual,
ul.archived_projects li.completeness { display:none;}

.project_results_details ul.details_sort li.project_detail { width:297px; }
.project_results_details ul.details_sort li.dates { width:95px; }
.project_results_details ul.details_sort li.actual { display:none;}
.project_results_details ul.details_sort li.completeness { display:none;}

.project_results_archived .project_results_details ul.details_sort li.project_detail { width:297px; }

.project_results_details ul li.project_detail { width:297px; }
.project_results_details ul li.dates { width:95px; }
.project_results_details ul li.actual { display:none;}
.project_results_details ul li.completeness { display:none;}

.project_results_archived .project_results_details ul li.project_detail { width:297px; }

.control_tower_main .rightCol .drafting_actions { display:none;}
.prole_disable, .prole_enable { display:none;}

.finance_budget_hours { display:none;}
.finance_budget_rate { display:none;}
.finance_budget_total { float:right; padding-right:7px;}
.main_actions { display:none;}
.add_subphase { display:none;}
.sub_phases_dl { display:none;}

		.fck_editor_overlay {background-color:#111111; height:300px; display:block; left:212px; opacity:0.3; position:absolute; top:13px; width:753px; z-index:0; filter:alpha(opacity=30);}

		#form_sec_9 .drafting_actions { display:block;}
		#form_sec_9 .drafting_actions .left_actions { display:none; }
		#form_sec_9 .drafting_actions .center_actions { display:none; }
		#form_sec_9 .drafting_actions .right_actions .secondary { display:none; }
		#form_sec_9 .drafting_actions .right_actions #form_sec_9_save { display:block; }
