@charset "utf-8";
/* CSS Document */

.navigation{
	right: 0;
	}

.events_content_container{
	padding: 12px 25px;
	background: #fff;
	}

.section_title{
	background: url(../_images/section_title_bg.gif) repeat-x left top;
	height: 45px;
	position: relative;
	border: 1px solid #999;
	}
	.section_title .title{
		font-size: 28px;
		font-weight: bold;
		color: #ffffff;
		padding-top: 6px;
		padding-left: 4px;
		float: left;
		}
	.section_title #list_view{
		position: absolute; 
		right: 12px; 
		top: 11px;
		}
	.events_content_container .events_filter{
		background: #d3d3d3;
		color: #2b5a80;
		}
	.events_filter #year_filter{
		width: 65px;
		}
		
	.events_filter #month_filter{ 
		width: 85px; 
		}
	
	.events_filter #status_filter{ 
		width: 140px; 
		}
		
	.result_label { margin: 0px 20px 24px 10px; font-size: 18px; color: #6f6f6f; font-weight:normal; }
	
	.result_label_anual { margin: 24px 20px 24px 10px; font-size: 18px; color: #6f6f6f; font-weight:normal; }
		
	.recent_events{
		background: url(../_images/module_gray_bg.gif) repeat-x left top;
		padding: 14px 12px 10px 12px;
		position: relative;
		}
		.recent_events h3{
			font-size: 16px;
			color: #1e5278;
			margin-bottom: 14px;
			margin-left: 2px;
			}
		.recent_events .time_based{
			position: absolute;
			top: 20px;
			right: 15px;
			color: #6f6f6f;
			font-size: 10px;
			}
		.recent_events ul.event_list{
			border: 1px solid #c8c3b8;
			/*padding: 7px;*/
			overflow: hidden;
			background:#F0F0F0;
			}
			.recent_events .event_list .event_date{
				background: #f8f8f8;
				font-size: 16px;
				font-weight: bold;
				color: #6d6767;
				padding: 10px 10px 6px;
				margin-top: -20px;
				margin-left: -27px;
    			margin-right: -27px;
				}
			.recent_events .event_list .event_name{
				font-size: 14px;
				font-weight: bold;
				color: #358fce;
				padding: 0px 10px 3px;
				 margin-left: -27px;
				margin-top: 6px;
				}
			.recent_events .event_list .event_company{
				font-size: 12px;
				color: #6f6f6f;
				padding: 0 10px;
				 margin-left: -27px;
				 font-family: arial;
    			font-weight: bold;
				}
			.recent_events ul.event_list li{
				background: #fff;
				border: 1px solid #c8c3b8;
				float: left;
				display: block;
				width: 235px;
				/*height: 65px;*/
				height:40px;
				margin-right: 6px;
				}
				.recent_events ul.event_list li.last{
					margin-right: 0px;
					}
.event_calendars{
	clear: both;
/*	padding: 12px 0;*/
	overflow: hidden;
	}
.event_calendars ul{
	list-style-type: none;
	}
	
.event_calendars ul li.calendar_month{
	float: left;
	display: block;
	margin-right: 16px;
	}
	.event_calendars ul li.last{
		margin-right: 0;
		}
.events_link { 
	position: relative; 
	margin: 24px 20px 14px 10px; 
	list-style-type: none; 
	font-weight: bold; 
	}
		
.events_link a { 
	font-size: 12px; 
	color: #358fce; text-decoration:none; 
	}				
					
/*					
.calendar_month .ui-datepicker{
	padding: 0;
	width: 220px;
	-moz-border-radius-topleft: 4px !important;
	-moz-border-radius-topright: 4px !important;
	}
.calendar_month .ui-datepicker .ui-datepicker-header{
	padding: 3px 0 0 0;
	}
.calendar_month .ui-widget-header{
	background: url(../_images/datepicker_month_bg.gif) repeat-x left top;
	height: 25px;
	border: none;
	color: #fff;
	}
.calendar_month .ui-datepicker-prev, .calendar_month .ui-datepicker-next{
	display: none;
	}
	
.calendar_month .ui-datepicker th{
	height: 20px;
	border-top: 1px solid #999;
	}
	
.calendar_month .ui-corner-all, .calendar_month .ui-corner-bottom, .calendar_month .ui-corner-right, .calendar_month .ui-corner-br{
	-moz-border-radius-bottomright: 0px;
	}
.calendar_month .ui-corner-all, .calendar_month .ui-corner-bottom, .calendar_month .ui-corner-left, .calendar_month .ui-corner-bl{
	-moz-border-radius-bottomleft: 0px;
	}
	
.calendar_month .ui-corner-all, .calendar_month .ui-corner-top, .calendar_month .ui-corner-right, .calendar_month .ui-corner-tr{
	-moz-border-radius-topright: 0px;
	}

.calendar_month .ui-corner-all, .calendar_month .ui-corner-top, .calendar_month .ui-corner-left, .calendar_month .ui-corner-tr{
	-moz-border-radius-topleft: 0px;
	}
.calendar_month .ui-datepicker th{
	padding: 0px;
	background: #e2eaf5;
	}
.calendar_month .ui-state-default, .calendar_month .ui-widget-content .ui-state-default, .calendar_month .ui-widget-header .ui-state-default{
	background: #f7edd7;
	color: #4e4e4e;
	font-size: 15px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	}
	
.calendar_month .ui-datepicker table{
	margin: 0;
	}
.calendar_month .ui-datepicker td{
	padding: 0;
	}
.calendar_month .ui-datepicker-month, .calendar_month .ui-datepicker-year{
	font-size: 15px;
	}
	
.calendar_month .ui-datepicker td span, .calendar_month .ui-datepicker td a{
	text-align: center
	}
.calendar_month .past_events{
	background: #c9df7c;
	}
.calendar_month .upcoming_events{
	background: #ffc52a;
	}*/
	
	
	
.calendar_content{
	width: 216px;
	border: 1px solid #999;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	}
	.calendar_content .calendar_header{
		background: url(../_images/section_title_bg.gif) repeat-x left top;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		height: 26px;
		color: #FFF;
		padding-top: 4px;
		}
	.calendar_content table{
		width: 100%;
		border-collapse: collapse;
		}
		.calendar_content table th{
			height: 20px;
			background: #e2eaf5;
			color: #111;
			border-right: 1px solid #c8c3b8;
			}
			.calendar_content table th.last{
				border: none;
				}
		.calendar_content table tr{
			border-bottom: 1px solid #c8c3b8;
			}
			.calendar_content table tr.last{
				border: none;
				}
		.calendar_content table td{
			height: 30px;
			border-right: 1px solid #c8c3b8;
			border-top: 1px solid #c8c3b8;
			border-bottom: 1px solid #c8c3b8;
			text-align: center;
			}			
			.calendar_content table td.last{
				border: none;
				}
		.calendar_content table td.today{
			border: 2px solid #c9df7c;
			}
		.calendar_content table td a:hover{
			text-decoration: none;
			}
		.calendar_content .date_default{
			background: #f7edd7;
			/*color: #4e4e4e;*/
			color:#4e4d4d;
			font-size: 15px;
			font-weight: bold;
			}
		.calendar_content .date_disabled{
			background: #d3d3d3;
			color: #898882;
		    font-size: 15px;
		    font-weight: bold;
			}
		.calendar_content .past_events{
			background-color: #84b4d1;
			}
		.calendar_content .upcoming_events{
			background-color: #ffc52b;
			}
		.calendar_content .multiple{
			border-right: none;
			}
		.calendar_content .upcoming_events_img{
			background: #ffc52b url(../_images/multiple_events_bg.gif) no-repeat right top;
			}
			.calendar_content .upcoming_left_events_img{
			background: #ffc52b url(../_images/multiple_events_bg.gif) no-repeat right top;
			}
		.calendar_content .past_events_img{
			background: #84b4d1 url(../_images/multiple_events_bg.gif) no-repeat right top;
			}
		.calendar_content .past_left_events_img{
			background: #84b4d1 url(../_images/multiple_events_bg.gif) no-repeat right top;
			}
			
.event_specifics{
	padding-top: 0px;
	}			
.event_specifics, .event_company_affected{
	clear: both;
	}
	.event_specifics .event_list{
		position: relative;
		}
		.event_specifics .event_list_old{
		position: relative;
		}
.event_specifics .event_list, .event_specifics .event_list li{
	border: 1px solid #c8c3b8;
	padding: 5px;
	overflow: hidden;
	color: #6f6f6f;
	font-size: 12px;
	line-height: 1.7em;
	
	}
	.event_specifics .event_list_old, .event_specifics .event_list_old li{
	border: 1px solid #c8c3b8;
	padding: 5px;
	overflow: hidden;
	color: #6f6f6f;
	font-size: 12px;
	line-height: 1.7em;
	
	}
	.event_specifics .event_list li{
		background: url(../_images/event_section_bg.png) repeat-x left top;
		padding: 10px 5px;
		}
	.event_specifics .event_list_old li{
		background: url(../_images/event_section_bg.gif.png) repeat-x left top;
		padding: 10px 5px;
		}
	.event_specifics .event_left_section, .event_specifics .event_center_section, .event_specifics .event_right_section{
		float: left;
		display: block;
		padding-right: 5px;
		}
		.event_specifics .event_left_section{
			    margin-left: 13px;
    			width: 187px;
			}
		.event_specifics .event_center_section{
			width: 430px;
			}
		.event_specifics .event_right_section{
			padding-left: 10px;
			}
	.event_specifics .event_date{
		font-size: 22px;
		font-weight: bold;
		color: #6D6767;
		}
	.event_specifics .event_name{
		font-size: 18px;
		font-weight: bold;
		/*color: #358fce;*/
		color:#6D6767;
		}
	.event_specifics .event_company{
		font-size: 16px;
		font-size: 16px;
    font-weight: bold;
		}
	.event_specifics .event_company_affected p{
		font-size: 14px;
		font-weight: bold;
		}
	.event_specifics .event_description{
		padding-top: 35px;
		}
		.event_specifics .event_description .see_details{
			color: #358fce;
			}
		.event_specifics ul#aff_companies li{
			border: none;
			background: none;
			}
	.event_specifics .event_actions{
		margin-top: 15px;
		}
		.event_specifics .event_company_affected{
			padding-top: 35px;
			}
	.event_company_affected ul#aff_companies{
		list-style: disc inside;
		border: none;
		}
	.event_specifics .event_list .close_btn{
		background: url(../_images/btn_event_close.png) no-repeat left top;
		position: absolute;
		top: 31px;
		right: 25px;
		width: 18px;
		height: 18px;
		text-indent: -9999px;
		outline: medium none;
		}
		.event_specifics .event_list_old .close_btn{
		background: url(../_images/btn_event_close.png) no-repeat left top;
		position: absolute;
		top: 31px;
		right: 25px;
		width: 18px;
		height: 18px;
		text-indent: -9999px;
		outline: medium none;
		}
/***List View****/
	.events_list_container { position: relative; width: 922px; margin: 0 auto; padding: 0px; background: #ffffff; clear:both; }
	
	.event_specifics ul { list-style-type:none; }
	
	.gray_bg { background-color:#EDEFF0; }
	
	.event_specifics .event_list #first_item { margin-top:0px; background-color:#FFFFFF; }
	.event_specifics .event_list #item { margin:5px 0px; background-color:#FFFFFF; }
	.event_specifics .event_list #last_item { margin-top:0px; background-color:#FFFFFF; }
	
	.event_specifics .event_list #first_item_blue { margin-top:0px; background: url(../_images/event_section_blue_bg.gif) repeat-x left top #FFFFFF;}
	.event_specifics .event_list #item_blue { margin:5px 0px; background: url(../_images/event_section_blue_bg.gif) repeat-x left top #FFFFFF; }
	.event_specifics .event_list #last_item_blue { margin-top:0px; background: url(../_images/event_section_blue_bg.gif) repeat-x left top #FFFFFF;}
	.event_specifics .event_list .width_item { width:898px}
	
	.event_specifics .event_list li {
		background: url("../_images/event_section_bg.png") repeat-x scroll left top transparent;
		padding: 10px 5px;
	}
	.event_specifics .event_list_old li {
		background: url("../_images/event_section_bg.gif.png") repeat-x scroll left top transparent;
		padding: 10px 5px;
	}
	
	.event_specifics .past_event {
		font-size: 17px;
		font-style: italic;
		padding-top: 3px;
		font-weight: bold;
	}
	.event_company_affected ul {
		width:220px;
		float:left;
	}
	
	.event_company_affected #aff_companies li {
		list-style-type:disc;
		list-style-position: inside;
		width:220px;
		float:left;
		padding:0px;
	}
		
			
/***SHADOW****/
	.shadow {
		-moz-box-shadow: 3px 3px 4px #000;
		-webkit-box-shadow: 3px 3px 4px #000;
		box-shadow: 3px 3px 4px #000;
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	}
			
/*/////////////////////////////////////////////
EVENT BUBBLE.
/////////////////////////////////////////////*/


.event_bubble{
	position: relative;
	}

.event_bubble .bubble_header{
	background: url(../_images/event_bubble_header.png) no-repeat left top;
	width: 227px;
	height: 15px;
	}
.event_bubble .bubble_content{	
	min-height: 51px;
	width: 227px;
	}
	.event_bubble .bubble_content .bubble_content_header{
		background: url(../_images/event_bubble_content_gradient.png) no-repeat left top;
		min-height: 38px;
		text-align: center;
		padding-top: 13px;
		}
	.event_bubble .bubble_content .bubble_content_copy{
		background: url(../_images/event_bubble_content_bg.png) repeat-y left top;
		padding: 20px 30px 11px 45px;
		color: #358fce;
		line-height: 1.7em;
		}
		.event_bubble .bubble_content .bubble_content_copy a{
			color: #358fce;
			text-decoration: none;
			}
			.event_bubble .bubble_content .bubble_content_copy a:hover{
				text-decoration: none;
				}
.event_bubble .bubble_footer{
	background: url(../_images/event_bubble_footer.png) no-repeat left top;
	width: 227px;
	height: 20px;
	}
	.event_bubble .bubble_content_header .bubble_date{
		font-size: 15px;
		color: #1e5278;
		font-weight: bold;
		}
	.event_bubble .bubble_content_header .bubble_events_number{
		color: #999;
		}
	.event_bubble .bubble_content_copy .see_more{
		text-align: right;
		padding-top: 10px;
		}
	.event_bubble .bubble_content_copy .bubble_list_events{
		margin-top: -15px;
		list-style: disc inside;
		}
	.event_bubble .bubble_content_copy .notes{
		font-size: 10px;
		text-align: center;
		color: #999;
		padding-top: 10px;
		}
	.event_bubble .bubble_arrow{
		background: url(../_images/bubble_arrow.png) no-repeat left top;
		width: 15px;
		height: 36px;
		position: absolute;
		top: 43%;
		left: 0;
		}
/*//////////////class added for left image tooltip popup//////////////////////////*/
	.event_bubble .bubble_left_arrow{
		background: url(../_images/bubble_left_arrow.png) no-repeat left top;
		width: 15px;
		height: 36px;
		position: absolute;
		top: 43%;
		right: 0;
		margin-right: -4px;
		}
/*////////////////////////////////////////*/		
	.bubble_close{
		background: url(../_images/bubble_close_btn.png) no-repeat left top;
		width: 14px;
		height: 14px;
		position: absolute;
		top: 10px;
		right: 17px;
		text-indent: -9999px;
		outline: medium none;
		}
		
		
		


/*/////////////////////////////////////////////
DEFAULT BUBBLE.
/////////////////////////////////////////////*/


.default_bubble{
	position: absolute;
	width: 268px;
	}
	.default_bubble .bubble_header{
		background: url(../_images/bubble_header.png) no-repeat left top;
		width: 268px;
		height: 17px;
		}
	.default_bubble .bubble_content{
		background: url(../_images/bubble_content.png) repeat-y left top;
		padding: 10px 25px;
		}
	.default_bubble .bubble_footer{
		background: url(../_images/bubble_footer.png) no-repeat left top;
		width: 268px;
		height: 32px;
		}
	.default_bubble .bubble_content p.sucess_msg{
		font-size: 18px;
		font-weight: bold;
		color: #6d6767;
		text-align: center;
		padding-bottom: 5px;
		}
		
		
/*/////////////////////////////////////////////
EVENTS ICONS.
/////////////////////////////////////////////*/


.events_icons{
	float: right;
	height: 21px;
	margin-right: -3px;
    margin-top: 10px;
	}
	.events_icons .multiple_icon, .events_icons .upcoming_icon, .events_icons .past_icon{
		float: left;
		display: block;
		padding: 3px 20px 0 31px;
		}
	.events_icons .multiple_icon{
		background: url(../_images/events_icons.png) no-repeat left top;
		height: 18px;
		}
	.events_icons .upcoming_icon{
		background: url(../_images/events_icons.png) no-repeat left center;
		height: 18px;
		}
	.events_icons .past_icon{
		background: url(../_images/events_icons.png) no-repeat left bottom;
		height: 18px;
		}
		
/***** New Event Style ****/
.column_full_event .content ul li {
									background-color: #FFFFFF;
									float: left;
									padding-bottom: 16px;
									width: 100%;
									}
.column_full_event .content label {
							text-align: left;
							}	
						.column_full_event .content input, .column_full_event .content select, .column_full_event .content textarea {
							margin: 0 0 0 0px;
							}


/*--------------------------------------------------------------------
		CONTENT: Work Orders
	--------------------------------------------------------------------*/
	.column_full_event { float: left; position: relative; width: 932px; min-height: 995px; padding: 0px 0px 0; background: url(../_images/column_right_rp_bg.gif) repeat-x #cacaca; }
	.column_full_event_QA { float: left; position: relative; width: 932px; min-height: 995px; padding: 20px 20px 0; background: url(../_images/column_right_rp_bg.gif) repeat-x #cacaca; }

		.column_full_event .content { float: left; position: relative; width: 907px; padding: 25px 0 15px 25px; margin-bottom: 20px; min-height: 450px; background: #fff; }
		.column_full_event_QA .content { float: left; position: relative; width: 907px; padding: 25px 0 15px 25px; margin-bottom: 20px; min-height: 450px; background: #fff; }
			.column_full_event .title_med .title_actions { float: left; padding: 1px 0 0 0; height: 36px; border-right: 1px solid #fff; margin: 0 10px 0 -5px; }
			.column_full_event_QA .title_med .title_actions { float: left; padding: 1px 0 0 0; height: 36px; border-right: 1px solid #fff; margin: 0 10px 0 -5px; }

			.event_content_col1 { float: left; min-height: 400px; width: 492px; margin-right: 20px; }
			.workorder_content_col2 { float: left; min-height: 400px; width: 370px; }
			.workorder_content_col3 { float: left; min-height: 400px; width: 492px; margin-right: 20px; }
			.workorder_content_col4 { float: left; min-height: 400px; width: 370px; }

			.workorder_content_actions { float: right; position: relative; margin: 15px 20px 0 0; white-space: nowrap; }
			.qaworkorder_content_actions { position: relative; padding-left: 120px; padding-top: 30px; white-space: nowrap; clear:both; }    

			.message_required { display: none; width: 300px; height: 150px; background: #ffffff; position: fixed; top: 50%; left: 50%; margin: -75px 0 0 -150px; border: 2px solid #6595c1; z-index:999;}
			.wo_time_fade { position:absolute; z-index: 10; height: 24px; width: 380px; margin-left:122px;background-color:#fff; opacity:0.7; filter:alpha(opacity=70); }
			.wo_comment_dimmer { position:absolute; z-index: 10; height: 100%; width: 100%; background-color:#fff; opacity:0.7; filter:alpha(opacity=70); }

		/*----- START: WO - Form --------------------------------------------------------------*/
		.column_full_event .content ul { list-style-type: none; display: block; }
		.column_full_event .content ul li { background-color:#fff; padding-bottom:12px; float: left; width: 100%; }
		.column_full_event .content ul.attached { float: left; margin-bottom: 5px; width: 100%; font-weight: bold; }
		.column_full_event .content ul.attached li { padding-bottom: 0; }
		.column_full_event .content ul.attached li a { margin-left: 15px; font-weight: normal; color: #559cd2; }


		.column_full_event_QA .content ul { list-style-type: none; display: block; }
		.column_full_event_QA .content ul li { background-color:#fff; padding-bottom:12px; float: left; }
		.column_full_event_QA .content ul.attached { float: left; margin-bottom: 5px; width: 100%; font-weight: bold; }
		.column_full_event_QA .content ul.attached li { padding-bottom: 0; }
		.column_full_event_QA .content ul.attached li a { margin-left: 15px; font-weight: normal; color: #559cd2; }

		.datePick img { margin: 2px 0 0 0; float: left; }

		.column_full_event .content label { display: block; float: left; text-align: right; padding-top: 3px; }
		.column_full_event .content input, .column_full_event .content select, .column_full_event .content textarea { float: left; border: 1px solid #559cd2; margin: 0; margin-left: 10px; font-size: 12px; padding: 2px; }
		.column_full_event .content textarea { overflow: auto; }
		.column_full_event .content .checkbox { border: none; padding: 0; margin-top: 4px; }
		.column_full_event .content .wo_archived { display: none; }

		.column_full_event_QA .content label { display: block; float: left; text-align: right; padding-top: 3px; }
		.column_full_event_QA .content input, .column_full_event_QA .content select, .column_full_event_QA .content textarea { float: left; border: 1px solid #559cd2; margin: 0; margin-left: 10px; font-size: 12px; padding: 2px; }
		.column_full_event_QA .content textarea { overflow: auto; }
		.column_full_event_QA .content .checkbox { border: none; padding: 0; margin-top: 4px; }
		.column_full_event_QA .content .wo_archived { display: none; }

			/*Column 1*/
			.event_content_col1 label { width: 124px; }
			.event_content_col1 .inside_label { width: 80px; }
			.event_content_col1 .inside_label_small { width: 60px; }
			.event_content_col1 .no_margins { width: auto; text-align: left; margin-left: 4px; }
			.event_content_col1 ul li .radio { margin-top: 3px; }

			.event_content_col1 .field_xsmall { width: 33px; }
			.main_actions_wo .field_xsmall { width: 50px; float:left; margin:2px 3px 0px 15px; }
			.event_content_col1 .field_small { width: 65px; }
			.event_content_col1 .field_medium { width: 200px; }

			.event_content_col1 .field_large { width: 345px; }
			.event_content_col1 .field_xlarge { width: 300px; }

			.event_content_col1 .no_label_side { padding-left: 130px; position: relative; float: left; }
			.event_content_col1 .qa_no_label_side { padding-left: 130px; position: relative; }
			.event_content_col1 textarea.field_large { height: 300px; }

			.event_content_col1 .no_label_side input, .event_content_col1 .no_label_side select, .event_content_col1 .no_label_side textarea { margin: 2px 5px 0 0; }
			.event_content_col1 .qa_no_label_side input, .event_content_col1 .qa_no_label_side select, .event_content_col1 .qa_no_label_side textarea { margin: 2px 5px 0 0; }
			.event_content_col1 .no_label_side label { width: 100%; text-align: left; margin-bottom: 3px; }
			.event_content_col1 .qa_no_label_side label { width: 100%; text-align: left; margin-bottom: 3px; }

			#time_sensitive_time.field_xsmall { width: 40px;}

			.uploader { position: relative; float: left; }
				.uploader img { position: absolute; right: -19px; top: 4px; z-index: 30; height: 17px; width: 17px; }

			/*Column 2*/
			.side_bucket_container { border: 2px solid #c8c8c8; background: #e7e7e7; padding: 2px; width: auto; margin-bottom: 20px; }
			.bucket_container_last { margin-bottom: 20px; }
				.side_bucket_title { background: url(../_images/subtitle_bg_med.gif) repeat-x; border: 1px solid #c8c8c8; height: 23px; width: auto; margin-bottom: 2px; padding: 5px 10px 0; font-size: 15px; font-weight: bold; }
				.side_bucket_content { background: #fff; border: 1px solid #c8c8c8; width: auto; padding: 10px 0 7px 10px; }

			.requestor_photo { float: left; height: 56px; width: 56px; border: 1px solid #559cd2; padding: 1px; }
			.qa_requestor_photo { float: right; height: 56px; width: 56px; border: 1px solid #559cd2; padding: 1px; }
			.requestor_fields { float: left; width: 280px; margin-left: 10px; }
			.qa_other_fields { float: left; width: 330px; margin-left: 10px; }
			.qa_project_management { float: left; width: 280px; margin-left: 10px; }
			.qa_other_fields .field_medium { width: 200px; } 
			.qa_project_management .field_medium { width: 200px; }  

			#qa_project_remember, #qa_assigned_remember, #qa_origin_remember, #qa_os_remember, #qa_browser_remember, #qa_version_remember { margin-top:4px; }

			.workorder_content_col2 label { width: 83px; }
			.workorder_content_col2 .project_management label { width: 153px; }

			.workorder_content_col2 .readonly { width: 121px; background: #ddd; color: #555; }
			.workorder_content_col2 .field_xsmall { width: 60px; }
			.workorder_content_col2 .field_small { width: 170px; }
			.workorder_content_col2 select.field_small { width: 176px; }

			.readonly { background: #ddd; }

			li.rally { display:none; }
			li.rally .wo_rally_option { float:left; width:170px; }
			li.rally p { float:left; padding:1px; width:180px; }
			li.rally p span { margin:0px 0px 0px 10px; }

			/*Column 3*/
			.main_bucket_container { border: 2px solid #c8c8c8; background: #e7e7e7; padding: 2px; width: auto; margin-bottom: 20px; }
				.main_bucket_title { background: url(../_images/subtitle_bg_med.gif) repeat-x; border: 1px solid #c8c8c8; height: 23px; width: auto; margin-bottom: 2px; padding: 5px 10px 0; font-size: 15px; font-weight: bold; }
				.main_bucket_content { background: #fff; border: 1px solid #c8c8c8; width: auto; padding: 0; }

				ul.comments { list-style-type: none; display: block; width: auto; background: #ffffff; }
				ul.comments li { display: block; border-bottom: 1px solid #cfcfcf; padding: 15px 0; width:100%;}

				.comment_photo { float: left; height: 48px; width: 48px; border: 1px solid #559cd2; padding: 1px; margin: 0 10px 0 15px; }
				.comment_body { float: left; width: 390px; color: #505050;word-wrap:break-word; }
					.comment_body p { margin: 0; padding: 0; }
					.comment_body strong { font-size: 14px; font-weight: bold; color: #084888; }
					.comment_body em { display: block; margin-bottom: 5px; }

			.main_bucket_title h4 { float: left; display: block; }
			.main_bucket_title_link { float: right; display: block; font-weight: normal; font-size: 12px; margin-top: 1px; }

			.comment_field_container { float: left; padding: 15px 0 3px 15px; }
				.workorder_content_col3 .project_management label { width: 153px; }

				.workorder_content_col3 textarea.field_large { width: 348px; height: 150px; }

			.new_comment_actions { float: right; margin: 0 10px 15px 0; white-space: nowrap; }
			.workorder_content_col3 .main_bucket_container .wo_archived { display: none; }
			.workorder_content_col3 .main_bucket_container .readonly { background: #ddd; color: #555; }

			/*Column 4*/
			.workorder_content_col4 .side_bucket_content { padding: 0; }

			.column_full_event .content .workorder_content_col4 ul { width: 340px; }
			.column_full_event .content .workorder_content_col4 ul li { position: relative; display: block; border-bottom: 1px solid #cfcfcf; padding: 0 10px;  width: 340px; }
			.column_full_event .content .workorder_content_col4 ul li:hover { font-weight: bold; background: #e4f5fd; cursor: default; }
			.column_full_event_QA .content .workorder_content_col4 ul { width: 340px; }
			.column_full_event_QA .content .workorder_content_col4 ul li { position: relative; display: block; border-bottom: 1px solid #cfcfcf; padding: 0 10px;  width: 340px; }
			.column_full_event_QA .content .workorder_content_col4 ul li:hover { font-weight: bold; background: #e4f5fd; cursor: default; }

			.cclist_name { width: auto; padding: 10px 0; }

			.cclist_actions { float: right; margin: 10px 3px 10px 0; white-space: nowrap; }
			.workorder_content_col4 .side_bucket_content .wo_archived { display: none; }

			/*Columns All*/
			.wo_dimmer { position:absolute; top: 0; left: 0; z-index: 10; height: 100%; width: 100%; background-color:#fff; opacity:0.7; filter:alpha(opacity=70); }
			#comment_dimmer { position:absolute; top: 0; left: 0; z-index: 10; height: 100%; width: 56%; background-color:#fff; opacity:0.7; filter:alpha(opacity=70); }

			.wo_save_box { position:absolute; top: 0; left: 0; z-index: 10; height: 100%; width: 100%; }
				.wo_save_box img { margin: 0; padding: 220px 0 0 460px; }

			.no_label_side .wo_dimmer { margin-top: 20px; width: 450px; }
		/*----- END: WO - Form --------------------------------------------------------------*/

		/*----- START: WO - Overview --------------------------------------------------------------*/
		.workorders_filters { border-bottom: none; }

			.workorders_filter select { margin-right: 50px; }
			#client_filter, #project_filter, #status_filter, #assigned_filter, #project_status_filter, #severity_filter { margin-right: 10px;}
			#status_filter { width: 95px; }
			#assigned_filter { width: 125px; }
			#severity_filter { width: 95px; }

			.workorders_sort { font-size: 10px; font-weight: normal; text-align:center; white-space: normal; }

				.workorders_sort .id { width: 63px; }
				.workorders_sort .title { width: 150px; }
				.workorders_sort .type { width: 51px; }
				.workorders_sort .req_type { width: 80px;  height:27px; padding-top:3px; }
				.workorders_sort .status { width: 63px; }
				.workorders_sort .requested { width: 103px; }
				.workorders_sort .assigned { width: 103px; margin-right:0px;}
				.workorders_sort .opendate { width: 80px; margin-right:0px;}
				.workorders_sort .due_date { margin-right:0px; width: 78px; }
				.workorders_sort .datecompleted { height:27px; margin-right:13px; padding-top:3px; width: 90px; }
				.workorders_sort .lastcommentby { height:27px; padding-top:3px; width: 102px; }
				.workorders_sort .commentdate { height:27px; margin-right:0px; padding-top:3px; width: 68px; }
				.workorders_sort .action { border: none; padding-right: 0; }
				.workorders_sort .commentdate { border: none; padding-right: 0; }
					.workorders_sort .opendate a,
					.workorders_sort .due_date a,
					.workorders_sort .req_type a,
					.workorders_sort .datecompleted a { padding:0px; margin:0px;}
					.workorders_sort .lastcommentby a { padding:0px; margin:0px;}
					.workorders_sort .commentdate a { padding:0px; margin:0px;}
					.workorders_sort .opendate a.down, .workorders_sort .opendate a.up,
					.workorders_sort .due_date a.down, .workorders_sort .due_date a.up,
					.workorders_sort .datecompleted a.down, .workorders_sort .datecompleted a.up { padding: 0px 10px 0px 0px;}
					.workorders_sort .lastcommentby a.down, .workorders_sort .lastcommentby a.up, { padding: 0px 10px 0px 0px;}
					.workorders_sort .req_type a.down, .workorders_sort .req_type a.up, { padding: 0px 10px 0px 0px;}
					.workorders_sort .commentdate a.down, .workorders_sort .commentdate a.up { padding: 0px 10px 0px 0px;}

			.quality_sort { font-size: 10px; font-weight: normal; text-align:center; white-space: normal; }
				.quality_sort .id { width: 70px; }
				.quality_sort .title { width: 150px; }
				.quality_sort .type { width: 51px; }
				.quality_sort .status { width: 63px; }
				.quality_sort .severity { width: 65px; }
				.quality_sort .category { width: 80px; }				
				.quality_sort .version { width: 80px; }		
				.quality_sort .detected_by { width: 94px; padding-left:3px;}						
				.quality_sort .assigned { width: 98px; margin-right:0px;}
				.quality_sort .opendate { width: 80px; margin-right:0px;}
				.quality_sort .due_date { margin-right:0px; width: 78px; }
				.quality_sort .datecompleted { height:27px; margin-right:13px; padding-top:3px; width: 90px; }
				.quality_sort .lastcommentby { height:27px; padding-top:3px; width: 102px; }
				.quality_sort .last_action { height:22px; margin-right:0px; width: 90px; }
				.quality_sort .action { border: none; padding-right: 0; }
				.quality_sort .last_action { border: none; padding-right: 0; }

					.quality_sort .opendate a { padding:0px; margin:0px;}
					.quality_sort .lastcommentby a { padding:0px; margin:0px;}
					.quality_sort .commentdate a { padding:0px; margin:0px;}

					.quality_sort .opendate a.down, .quality_sort .opendate a.up,
					.quality_sort .title a.down, .quality_sort .title a.up,
					.quality_sort .status a.down, .quality_sort .status a.up,
					.quality_sort .status a.down, .quality_sort .status a.up,
					.quality_sort .datecompleted a.down, .quality_sort .datecompleted a.up { padding: 0px 10px 0px 0px;}
					.quality_sort .lastcommentby a.down, .quality_sort .lastcommentby a.up, { padding: 0px 10px 0px 0px;}
					.quality_sort .req_type a.down, .quality_sort .req_type a.up, { padding: 0px 10px 0px 0px;}
					.quality_sort .commentdate a.down, .quality_sort .commentdate a.up { padding: 0px 10px 0px 0px;}

		/*-----------old height 405px-----------*/
		.workorders_container { position: relative; height:755px; overflow: auto; padding: 0 3px 3px 3px; background: #c9c9c9; clear:both;}

			.workorders_container .title_small { border: 1px solid #dfdede; margin-top: -1px; }

				.workorders_rows { padding: 0 1px 1px; background: #fff; }

					.workorders_rows dl { border-top: 1px solid #fff; border-bottom: 1px solid #dfdede; min-height: 39px; width: auto; background: url(../_images/bg_workorders_rows.gif) repeat-x; list-style-type: none; color: #666; }
						.workorders_rows dl.alert { background-position: 0 -195px; }
						.workorders_rows dl.new { background-position: 0 -234px; }
						.workorders_rows dl.complete { background-position: 0 -273px; }

						.workorders_rows dl:hover { background-position: 0 -156px; }
						.workorders_rows dl.alert:hover { background-position: 0 -39px; }
						.workorders_rows dl.new:hover { background-position: 0 -78px; }
						.workorders_rows dl.complete:hover { background-position: 0 -117px; }

					.workorders_rows dl dt, .workorders_rows dl dd { display: block; float: left; padding: 7px 9px 0; cursor: default; }

					.workorders_rows .id { width:20px; font-weight: bold;padding-left:10px; }
					.workorders_rows .overdue { width:10px; padding:0px;padding-top:6.5px;padding-left:6.5px;}
					.workorders_rows .archivecheck { width: 18px; border: none; padding:0px; margin-top:6px;}
					.workorders_rows .title { width: 141px; font-weight: bold; height:30px; overflow:hidden;}
					.workorders_rows .type { width: 42px; }
					.workorders_rows .req_type { width: 67px; }
					.workorders_rows .status { width: 54px; }
					.workorders_rows .requested { width: 94px; }
					.workorders_rows .assigned { width: 94px; font-weight: bold; color: #34556c; }
					.workorders_rows .opendate { width: 64px; padding-left:10px; }
					.workorders_rows .due_date { width: 64px;padding-left:10px; }
					.workorders_rows .datecompleted { width: 70px; }
					.workorders_rows .lastcommentby { width: 78px; cursor: pointer;}
					.workorders_rows .commentdate { border: none; padding-left: 8px; color: #34556c; width:63px; padding-right: 0px; }

						.workorders_rows .datecompleted img { margin:5px 5px -5px 0px;}
						.workorders_rows .lastcommentby img { margin:5px 5px -5px 0px;}
						.workorders_rows .commentdate img { margin:5px 5px -5px 0px;}
					.workorders_rows .action { border: none; color: #34556c; font-weight: bold; padding-right: 2px; }					
					.workorders_rows .action:hover { cursor: pointer; text-decoration: underline; }

					.workorders_rows select { width: 95px; }
					.workorders_rows .status select { width: 75px; }


				.quality_rows { padding: 0 1px 1px; background: #fff; }

					.quality_rows dl { border-top: 1px solid #fff; border-bottom: 1px solid #dfdede; min-height: 39px; width: auto; background: url(../_images/bg_workorders_rows.gif) repeat-x; list-style-type: none; color: #666; }
						.quality_rows dl.alert { background-position: 0 -195px; }
						.quality_rows dl.new { background-position: 0 -234px; }
						.quality_rows dl.onhold { background-position: 0 -156px; }
						.quality_rows dl.complete { background-position: 0 -273px; }

						.quality_rows dl:hover { background-position: 0 -156px; }
						.quality_rows dl.alert:hover { background-position: 0 -39px; }
						.quality_rows dl.new:hover { background-position: 0 -78px; }
						.quality_rows dl.complete:hover { background-position: 0 -117px; }

					.quality_rows dl dt, .quality_rows dl dd { display: block; float: left; padding: 7px 9px 0; cursor: default; }

					.quality_rows .id { width:34px; font-weight: bold;padding-left:12px;padding-right:12px; text-align:center;} 
					.quality_rows .overdue { width:10px; padding:0px;padding-top:5px;}
					.quality_rows .archivecheck { width: 18px; border: none; padding:0px; margin-top:6px;}
					.quality_rows .title { width: 145px; font-weight: bold; height:30px; overflow:hidden;}
					.quality_rows .type { width: 42px; }
					.quality_rows .severity { width: 67px; }
					.quality_rows .category { width: 67px; }
					.quality_rows .version { width: 67px; }
					.quality_rows .status { width: 55px; padding-left:3px; }
					.quality_rows .detected_by { width: 80px; }
					.quality_rows .assigned { width: 94px; font-weight: bold; color: #34556c; }
					.quality_rows .opendate { width: 64px; padding-left:10px; text-align:center;}
					.quality_rows .due_date { width: 64px;padding-left:10px; }
					.quality_rows .datecompleted { width: 70px; }
					.quality_rows .lastaction { width: 82px; cursor: pointer; padding-left:0px; padding-right:0px;} 
					.quality_rows .commentdate { border: none; padding-left: 8px; color: #34556c; width:62px; padding-right: 0px; }

						.quality_rows .datecompleted img { margin:5px 5px -5px 0px;}
						.quality_rows .lastaction img { margin:5px 5px -5px 0px;}
						.quality_rows .commentdate img { margin:5px 5px -5px 0px;}
					.quality_rows .action { border: none; color: #34556c; font-weight: bold; padding-right: 2px; }					
					.quality_rows .action:hover { cursor: pointer; text-decoration: underline; }

					.quality_rows select { width: 95px; }
					.quality_rows .status select { width: 75px; }
		
		
					.title {
						font-size: 28px;
						font-weight: bold;
						color: #ffffff;
						padding-top: 6px;
						padding-left: 12px;
						float: left;
						}
					.title_med {
						background: url("../_images/section_title_bg.gif") repeat-x scroll left top transparent;
						border: 1px solid #999999;
						/*height: 45px;*/
						height:37px;
						position: relative;
						padding: 0px 0px !important;
						}
					.events_content_container{
						padding: 12px 25px;
						background: #ffffff;
						/*padding: 0px !important;	*/
						padding: 12px 25px;
						}
					.column_full_event {
						background: none !important;
						}
						.required_fields {
							float:right;
							width: 920px;
							height:20px;
							background: #D3D3D3;
							padding:13px 12px 14px 0px;
							text-align:right;
							margin-bottom: 20px;
							}
							.required_fields_text {
								font-size:12px;
								font-weight:bold;
								}
							.required_fields_asterisk {
								color:#d10000;
								font-size:16px;
								}
	
					.event_container {
						background: none repeat scroll 0 0 #00000;
						clear: both;
						height: auto;
						overflow: auto;
						padding: 0 3px 3px;
						position: relative;
					}
						.event_content_col1 {
							float: left;
							margin-right: 20px;
							min-height: 400px;
							width: 492px;
							padding-left:25px;
							}
							.event_label {
								font-size:13px;
								font-weight:bold;
								padding-top: 0px !important;
								font-family: arial;
								color: #2b5a80;
								}
									
									.column_full_event .event_content_col1 .content ul li, .column_full_event .event_content_col3 .content ul li  {
										padding-bottom: 24px;
										line-height: 16px;
										}
										
										.column_full_event .event_content_col1 .li_brand {
											padding-bottom:16px;
											}									
										.column_full_event .event_content_col1 .li_title {
											padding-bottom:23px !important;
											}
										.column_full_event .event_content_col1 .li_dates {
											padding-bottom:8px !important;
											}																			
										
									.event_content_col1 ul li .field_medium, .column_full_event .event_content_col3 .content ul li .field_medium{
										border: 1px solid #559CD2;
										float: left;
										font-size: 12px;
										margin: 0 0 0 0px;
										padding: 2px;
										width:227px;
										}
									.event_content_col1 ul li .input_field_day {
										border: 1px solid #559CD2;
										font-size: 12px;
										margin: 0 10px 0 0px;
										padding: 2px;
										width:19px;
										float:left;
										}
									.event_content_col1 ul li .input_field_month {
										border: 1px solid #559CD2;
										font-size: 12px;
										margin: 0 10px 0 0px;
										padding: 2px;
										width:55px;
										float:left;
										}
									.event_content_col1 ul li .input_field_year {
										border: 1px solid #559CD2;
										font-size: 12px;
										margin: 0 10px 0 0px;
										padding: 2px;
										width:30px;
										float:left;										
										}
									.event_content_col1 ul li .input_field_timezone {
										border: 1px solid #559CD2;
										font-size: 12px;
										margin: 0 10px 0 0px;
										padding: 2px;
										width:90px;
										float:left;														
										}
									.event_content_col1 ul li .input_field, .column_full_event .event_content_col3 .content ul li .input_field{
										width:220px;
										margin: 0 0 0 0px;
										}
									.event_content_col1 ul li .field_large {
										width: 318px;
										height:150px;
										}
								.event_required_fields_asterisk {
									color: #d10000;
									font-size: 13px;
									font-family: ariel;
									font-weight: bold;       	
									} 
								.event_copy {
									color: #6f6f6f;
									font-size: 14px;
									line-height:14px;
									display:block;
									} 
								.event_copy_margin {
									margin-top: -4px;
									font-family: arial;
									font-size: 11px;
									color:#6f6f6f;
									
									}
								.event_copy_to {
									font-weight:bold;
									left: 100px;
									position: relative;	
									margin-top: -7px;
									margin-bottom: -7px;
									font-family: arial;
									font-size: 11px;
									color:#6d6767;							
									}
								
								.column_full_event .content {
									padding: 0 0 15px 0 !important;
									}
								.column_full_event .content textarea {
									margin: 0 0 0 0px;
									}
								
							.event_content_col1 label, .column_full_event .event_content_col3 .content ul li label{
								width: auto;
								}
							.column_full_event .content ul li {
								padding-bottom: 17px !important;
								}	
							.workorder_content_col2 .readonly {
								width: 170px;
								}
								
						.cc_field {
							margin: 0 8px 7px !important;
							width: 300px;
							}
						.cc_box {
						padding: 0px 0px 10px 0px;
						}
						
						.cclist_actions {
							float: right;
							margin: 10px 3px 0 0;
							white-space: nowrap;
						}	
						
						.workorder_content_col3_brands {
							height:300px;
							margin-top: 11px;
							padding-left:25px;
							}
							.event_brand {
								float:left;
								width:289px;
								margin-top: 11px;
								margin-left:-11px;
								}
								.event_brand ul li .event_brand_text {
									display: block;
									margin-left: 30px;								
									*margin-left: 35px;
									text-align: left;
									width: 200px;
									}
									


		/*----- START: Message Box --------------------------------------------------------------*/
		   .message_box {
				display: none;
				left: 50%;
				margin: -75px 0 0 -150px;
				position: fixed;
				top: 50%;
				z-index: 999;				
				height: 144px;
				border:none;				
				}
				.message_box_text {
					color: #6d6767;	
					font-size:18px;
					}
				.alert_text {
					color: #d10000;
					}
				.blue_text {
					font: Arial Bold 16pt;
					color: #358fce;
					position: relative;		
					display: block;
					margin-top:19px;			
					}	
				.text_in_fields {
						color: #6F6F6F;
						}
				.textarea_margin {
						padding: 7px !important;
						}							
				.message_box .event_list button {
					left: 98px;
					position: relative;
					margin-top:31px;
					}
				ul.event_list{
					border: 1px solid #c8c3b8;
					padding: 5px 0 5px 5px;
					overflow: hidden;
					background:#FFFFFF;	
					/*width:910px;*/		
					width:auto;		

					}
					ul.event_list_old{
					border: 1px solid #c8c3b8;
					padding: 5px 0 5px 5px;
					overflow: hidden;
					background:#FFFFFF;	
					/*width:910px;*/		
					width:auto;		

					}
					ul.event_list li {
					height: auto;
					padding: 20px 27px 29px 27px;
					width: auto;
					background: #fff;
					border: 1px solid #c8c3b8;
					/*float: left;*/
					display: block;
					margin-right: 1px;
					/*text-align:center;*/
					}					
					ul.event_list_old li {
					height: auto;
					padding: 20px 27px 29px 27px;
					width: auto;
					background: #fff;
					border: 1px solid #c8c3b8;
					/*float: left;*/
					display: block;
					margin-right: 1px;
					/*text-align:center;*/
					}
			/*----- END: Message Box --------------------------------------------------------------*/				
				.box_please_fill .event_list button {
						margin-top:31px;
						}				
			
			/*----- START: Sorry Box --------------------------------------------------------------*/			
				.box_sorry .event_list button {						
						left: 155px;
						position: relative;
						margin-top:31px;
						}				
			/*----- END: Sorry Box --------------------------------------------------------------*/				

			/*----- START: Are you Sure Box --------------------------------------------------------------*/			
				.box_are_you_sure .event_list button {
						left: 58px;
						position: relative;
						margin-top:31px;
						}														
			/*----- END: Are you Sure Box --------------------------------------------------------------*/	
			.shadow_new_event {
				-moz-box-shadow: 6px 6px 10px #999999;
				-webkit-box-shadow: 6px 6px 10px #999999;
				box-shadow: 6px 6px 10px #999999;
				/* For IE 8 */
				-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#999999')";
				/* For IE 5.5 - 7 */
				filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#999999');
				}
/*class added by Manoj*/	
				.bubble_dates{
				color: #1E5278;
				font-size: 15px;
				font-weight: bold;}
				.upcoming_events_imgg{}
/* Class added by Imt */
.displaynone{display:none}
.displayblock{display:block}

#displaynone{display:none}
#displayblock{display:block}
.paginationFrame{clear:both;float:none;padding:5px;margin-top:10px;background:none;border: 1px solid #C8C3B8;color: #6F6F6F;font-size: 12px;line-height: 1.7em;width:910px}
.clearboth{clear:both}
#clearboth{clear:both}
.textright{text-align:right}
#textright{text-align:right}
.activePagePrev{color:#358fce;font-size:14pt;}
.activePagePrev a{background:url('/_images/button_arrows.gif') no-repeat left top;height:25px;width:22px;display:block}
.inactivePagePrev{color:#9E9E9E;font-size:14pt;}
.inactivePagePrev a{background:url('/_images/button_arrows_inactive.gif') no-repeat left top;height:25px;width:22px;display:block;cursor:auto}


.activePage{color:#358fce;font-size:10pt;font-weight:bold;padding:5px;}
.activePageNext{color:#358fce;font-size:14pt;}
.activePageNext a{background:url('/_images/button_arrows.gif') no-repeat right top;height:25px;width:22px;display:block}
.inactivePage{color:#9E9E9E;font-size:10pt;font-weight:bold;padding:5px;}
.inactivePageNext{color:#9E9E9E;font-size:14pt;}
.inactivePageNext a{background:url('/_images/button_arrows_inactive.gif') no-repeat right top;height:25px;width:22px;display:block;cursor:auto}


.floatright{float:right}
#floatright{float:right}
.floatleft{float:left}
#floatleft{float:left}
.showListClass{float:none;list-style:none;padding-left:100px;text-align:right}
.showListLessClass{float:none;list-style:none;padding-left:100px;text-align:right}
.pointer{cursor:pointer}
.aText{font-size:12px;font-weight:normal;color:#009adb}
.width410{width:410px}
#width410{width:410px}
#paddingleft{padding-left:20px}



.event_specifics .event_list #item_gray { margin:5px 0px; background: url(../_images/event_section_bg.png) repeat-x left top #FFFFFF; }
.event_specifics .event_list #item_gray_old { margin:5px 0px; background: url(../_images/event_section_bg.gif.png) repeat-x left top #FFFFFF; }
.newtheme{
color:#4e4d4d;
}
.shadowm {
		-moz-box-shadow: 1px 1px 2px #000;
		-webkit-box-shadow: 1px 1px 2px #000;
		box-shadow: 1px 4px 10px -6px #000;
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	}
	

	
.events_list_calenderviewajax {
	-moz-box-shadow: 1px 1px 2px #000;
		-webkit-box-shadow: 1px 1px 2px #000;
		box-shadow: 0px 9px 11px -11px #000000;
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 918px;
}
td.past_events #event_date  
{
color: #FFFFFF;
text-decoration: none;
	
}	
	
td.upcoming_events #event_date
{
color: #070600;
text-decoration: none;
}	 		
