<ul id="WeekRow">
	<li class="PreviousWeek"><a href="javascript:void(0);" onclick="app.previousWeek();">previous week</a></li>
{foreach from=$items.weekdays item=day}
	<li>{$day|date_format:"%A, %m/%d/%y"}</li>
{/foreach}
</ul>

<ul id="ResourceGrid">

{foreach from=$items.users item=user}
{assign var="user_id" value=$user.id}
{assign var="first_name" value="first-name"}
{assign var="last_name" value="last-name"}
{assign var="active_user" value=$items.resourceblocks.$user_id}
	<li> 
	<div class="UserName">{$user.$first_name} {$user.$last_name}</div>
		<ul class="UserWeek uid{$user_id}">
		{foreach from=$items.weekdays item=day}
		<li>
			<ul class="UserDay d{$day}">
			{foreach from=$items.dayparts item=daypart}
				{assign var="dpStatus" value=$active_user.$day.$daypart.Status}
				{assign var="project_id" value=$active_user.$day.$daypart.ProjectID}
				{assign var="project_name" value=$items.projects.$project_id.name}
				<li onClick="app.clk(this);"
					class="{if $dpStatus}Status{$dpStatus} {/if}dp{$daypart}"><span>{$project_name|truncate:15:"":true}</span></li>
			{/foreach}
			</ul>
		</li>
		{/foreach}
		</ul>
	</li>
{/foreach}
</ul>


<div id="ActionMenu">
<ul>
<li><a href="javascript:app.saveDayparts(INT)">Internal</a></li>
<li><a href="javascript:app.saveDayparts(OOO)">Out of the Office</a></li>
<li><a href="javascript:app.cancelSelected()">Clear Selection(s)</a></li>
</ul>
<div id="CompanyMenu" class="yuimenu">
	<div class="bd">
		<ul id="CompanyListUL" class="first-of-type"> 
		{foreach from=$items.projects_by_company key=company item=projects name="companyList"}
			{assign var="companyNum" value=$smarty.foreach.companyList.iteration}
			<li class="CoList yuimenuitem">
				<a href="javascript:void(0);" class="yuimenuitemlabel"><span>{$company}</span></a>
				<div class="yuimenu">
					<div class="bd">
						<ul class="ProjectList" id="co{$companyNum}">
						{foreach from=$projects item=project}
							<li><a href="javascript:void(0);" onclick="app.saveDayparts(ACT,'{$project.id}',this);"><span>{$project.name}</span></a></li>
						{/foreach}
						</ul>
					</div>
				</div>
			</li>
		{/foreach}
		</ul>
	</div>
</div>
</div>
