@charset "UTF-8";
/* CSS Document */

/*===================================
	GLOBAL
===================================*/
/* START: Zeroer */

/* END: Zeroer */




/*===================================
	SETTINGS BAR
===================================*/



/*===================================
	HEADER
===================================*/



	/*----------------------------------
		NAVIGATION
	----------------------------------*/



/*===================================
	CONTENT
===================================*/
.content_container { position: relative;}

.content_container_login { margin-left: -1px; }

	.new_project_dimmer { margin-left: -3px; }

	/*------ START: Buttons -----*/
	button { white-space: nowrap; overflow: visible; height: 25px; }
	button span { margin-top: ; }
	button.inactive { padding-right: 4px; }

	button.status { height: 21px; }
	/*------ END: Buttons -----*/
	
	/*--------------------------------------------------------------------
		CONTENT: Control Tower
	--------------------------------------------------------------------*/

		.project_nav_buttons button.status_complete { *margin-bottom: -10px; }

		.add_risk .add_risk_content { padding-top: 16px; }
		.add_risk .add_risk_content input {margin: 2px 0px 6px -16px; width:230px; }
		.add_risk .add_risk_content textarea {margin: 2px 0px 6px -16px; width:230px; margin-bottom: 10px;}
			.add_risk_content .add { margin-top: -2px;}

		.project_results_container dl dt ul li.status { text-align:left;}
		.project_filters li.actual a { margin:0pt 0px 0pt 0pt;}
		.papprovals_date { margin:5px 0pt 0pt 7px; }

		/*----- START: CT - Quick Filter --------------------------------------------------------------*/

	/*----------------------------------
		COLUMNS: Resource Planner Main
	----------------------------------*/

		.right_actions_small input { margin:9px 3px 0 8px; }
	
		
	/*----------------------------------
		COLUMNS: Resource Planner Right
	----------------------------------*/

	/*--------------------------------------------------------------------
		CONTENT: Work Orders
	--------------------------------------------------------------------*/
		#wo_project.field_medium { width: 350px;}
		.column_full_workorders .content .checkbox { border: none; padding: 0; margin-top: 0; }


/*===================================
	FOOTER
===================================*/



/*===================================
	MODIFIERS
===================================*/
/*----| Field Width Mods |----*/


/*----| Field Width Mods |----*/

.quality_sort .id {
width:75px;
}

#qa_project_remember, #qa_assigned_remember, #qa_origin_remember, #qa_os_remember, #qa_browser_remember, #qa_version_remember { margin-top:1px; }

.title_med2 .multiSelectOptions { *margin-top:28px !important; *margin-left:-208px !important;}

#qa_exampleurl_remember { float:right;margin-top:-18px;margin-right:-15px; }